<a href="https://colab.research.google.com/github/HugoAzriel/Practica-1-HALM/blob/main/Practica1_HALM.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
nombre = input("Ingrese su nombre: ")
print("Hola "+ nombre + ". Bienvenido a CECYTEM COACALCO")
edad = int(input("Ingrese su edad: "))
edad_en_10_anios = edad + 20;
print("En 20 a単os, tendras", edad_en_10_anios, "a単os")

Ingrese su nombre: hugo
Hola hugo. Bienvenido a CECYTEM COACALCO
Ingrese su edad: 5
En 20 a単os, tendras 25 a単os

In [ ]:

nombre = "Hugo Lopez Mendoza"
edad = 16
estatura = 1.85
print("Nombre: ", nombre)
print("Edad: ", edad)
print("Estatura: ", estatura, "metros")
suma_edad_estatura= edad+estatura
resta_edad_estatura=edad-estatura
multiplicacion_edad_estatura=edad*estatura
division_edad_estatura=edad/estatura

print("Suma de edad y estatura son:", suma_edad_estatura)
print("Resta de edad y estatura: ", resta_edad_estatura)
print("Multiplicacion de eedad y estatura: ",multiplicacion_edad_estatura)
print("Division edad y estatura: ", division_edad_estatura)

Nombre:  Hugo Lopez Mendoza
Edad:  16
Estatura:  1.85 metros
Suma de edad y estatura son: 17.85
Resta de edad y estatura:  14.15
Multiplicacion de eedad y estatura:  29.6
Division edad y estatura:  8.648648648648647

In [ ]:
pais="Belgica"
capital="Bruselas"
poblacion="11,59 millones (2021)"
print("Pais:", pais)
print("Capital:", capital)
print("Poblacion:",poblacion)
numero=float(input("Ingresa un numero: "))
resultado= numero *3
print("El triple del numero ingresado es:", resultado)

Pais: Belgica
Capital: Bruselas
Poblacion: 11,59 millones (2021)
Ingresa un numero: 8
El triple del numero ingresado es: 24.0